@using InternProject02.ViewModels.Announcement;

@{
    ViewData["Title"] = "Index";
}

@model List<AnnouncementViewModel>


<div class="row">
    <div class="col-8">
        <h1>Announcements</h1>
        @foreach (var item in Model)
        {
            <div class="card text-center">
                <div class="card-header">
                    @item.AnnouncementCreator
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.AnnouncementTitle</h5>
                    <a href="/Announcement/@(item.Id)" class="btn btn-primary">Details</a>
                </div>
                <div class="card-footer text-muted">
                    @item.AnnouncementCreateDate.ToLongDateString()
                </div>
            </div>
        }
    </div>
</div>

<a class="btn btn-primary mt-3" href="/Announcement/add">Create New Announcement</a>

